spring:
  datasource:
    username: root
    password: make1234
    url: jdbc:mysql://10.211.55.4/gulimall_wms
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

  application:
    name: doermail-ware

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto

server:
  port: 11000